.statistics {
  margin: 20px auto;
  width: 300px;
  text-align: center;

  background-color: rgb(255, 209, 195);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgb(141, 141, 141);
}

.title {
  padding: 15px 0;

  font-size: 22px;
  font-weight: 700;
  color: rgb(50, 0, 0);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.statList {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  min-width: 50px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  background-color: rgb(253, 160, 131);
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.percentage {
  font-size: 18px;
  font-weight: 700;
  color: rgb(50, 0, 0);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
